<?xml version="1.0" ?>
<launch>
	<rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml"/>
 
  	<!-- Lancia Gazebo con il robot Franka -->
	<include file="$(find franka_gazebo)/launch/panda.launch">  
  		<arg name="world" value="$(find scene)/launch/my.world" doc="Filename to a SDF World for gazebo to use" />
  		<arg name="gazebo" value="true"/>
		<!--
		<arg name="controller" value="joint_position_example_controller" />
		-->
	</include>

</launch>

