<?xml version="1.0" ?>

<launch>
    <include file="$(find scene)/launch/all.launch"/>
    <rosparam file="$(find new_moveit_pkg)/config/ros_controllers.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn robot_arm_controller" respawn="false" output="screen"/>

    <include file="$(find new_moveit_pkg)/launch/move_group.launch" />

    <!-- <arg name="rviz" default="true" /> -->
    <include file="$(find new_moveit_pkg)/launch/moveit_rviz.launch"/>
</launch>