<robot name="scene" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Importa tavolo -->
  <xacro:include filename="$(find scene)/urdf/table_camera.urdf.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda/panda.urdf.xacro"/>

  <!-- Joint fisso -->
  <joint name="table_robot_joint" type="fixed">
    <parent link="table_link"/>
    <child link="panda_link0"/>
    <origin xyz="0 1.265 0.700" rpy="0 0 -1.5708"/>
  </joint>

</robot>
