<?xml version="1.0"?>
<robot name="table">

  <link name="table_link">
    <!-- Visualizzazione -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://scene/meshes/airhockey-table.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>

    <!-- Collisione -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://scene/meshes/airhockey-table.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <!-- Inerzia base -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="80.0"/>
      <inertia ixx="2.5" ixy="0.0" ixz="0.0"
               iyy="2.5" iyz="0.0"
               izz="1.0"/>
   </inertial>      
  </link>
  
  <gazebo reference="table_link">
	  <surface>
	    <friction>
	      <ode>
		<mu>0.0001</mu>
		<mu2>0.0001</mu2>
	      </ode>
	    </friction>
	    <bounce>
	      <restitution_coefficient>0.1</restitution_coefficient>
	    </bounce>
	  </surface>
	</gazebo>  
</robot>
